<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<div class="container" style="padding: 20px; text-align: center;">
    <% if (tweet) { %>
    <h1>Edit tweet from <%= tweet.username %> </h1>
    <form action="/tweets/<%= tweet.id %>?_method=PATCH" , method="POST">
        <textarea name="tweet" id="tweet" cols="30" rows="10"><%= tweet.tweet %></textarea>
        <br>
        <button class="tweet-button" style="margin-bottom: 20px;">Edit tweet</button>
    </form>
    <% } else { %>
    <h1>Tweet not found...</h1>
    <% } %>
    <a href="/tweets" class="tweet-anchor">Back</a>
</div>
<%- include('../partials/footer') %>