<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<div class="container" style="padding: 20px; text-align: center;">
    <h1>All tweets!</h1>
    <% if (tweets.length > 0) { %>
    <ul style="text-align: left;">
        <% for (let tweet of tweets) { %>
        <li><%= tweet.tweet %> - <b><%= tweet.username %></b> <a href="/tweets/<%= tweet.id %>">details</a></li>
        <% } %>
    </ul>
    <% } else { %>
    <p>So lonely...</p>
    <% } %>
</div>
<%- include('../partials/footer') %>