<%- include('../partials/head') %>
<%- include('../partials/navbar') %>
<div class="container" style="padding: 20px; text-align: center;">
    <% if (tweet) { %>
    <h1>Tweet from <%= tweet.username %> </h1>
    <p>"<%= tweet.tweet %>"</p>
    <form action="/tweets/<%= tweet.id %>/edit" , style="display: inline;">
        <button class="tweet-button" style="margin-bottom: 25px;">Edit</button>
    </form>
    <form action="/tweets/<%= tweet.id %>?_method=DELETE" , method="POST" , style="display: inline;">
        <button class="tweet-button" , style="margin-bottom: 25px;">Delete</button>
    </form>
    <br>
    <% } else { %>
    <h1>Tweet not found...</h1>
    <% } %>
    <a href="/tweets" class="tweet-anchor">Back</a>
</div>
<%- include('../partials/footer') %>